*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  min-height: 400px;
  min-width: 400px;
  border: 1px solid #ededd1;
}

.box{
  height: 70px;
  width: 70px;
  background-color: #ededd1;
  font-size: 45px;
  text-align: center;
  font-weight: 500;
}

.black{
  background-color: #769656;
}

.row{
  display: flex;
}